<script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1>
      Sloppy news
    </h1>
  </div>

  <div ng-repeat="post in main.posts | orderBy: '-upvotes'">
    <span ng-click="main.upvotePost(post)" class="glyphicon glyphicon-thumbs-up"></span>
      {{post.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">{{post.title}}</span>
    </span>
    <span>
      <a href="#/posts/{{$index}}">Comments</a>
    </span>
  </div>
  <form ng-submit="main.addPost()" style="margin-top:30px;">
    <div class="form-group">
      <input type="text" placeholder="Title" ng-model="main.post.title" class="form-control"></input>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Link" ng-model="main.post.link" class="form-control"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</script>
